<div class="card mt-5 bg-dark">
  <div class="card-body mx-auto text-light">
    Welcome to the Movie Wishlist Website!
  </div>
</div>

<div class="card mx-auto mt-5 bg-dark" style="width: 18rem;">
    <div class="card-body">
        <form action="\login" method="POST">
            <div id="emailHelp" class="form-text text-warning mb-2">Register if you don't have an account!</div>
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label text-light">Username</label>
                <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="username">
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label text-light">Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1" name="password">
            </div>
            <button onclick="/lolo" type="submit" class="btn btn-success" style="width: 6rem;">Log In</button>
            <a href="/register" type="submit" class="btn btn-warning float-end" style="width: 6rem;">Register</a>
        </form>
    </div>
</div>